# ignore all jupyter notebook checkpoints anywhere in the repository
**/.ipynb_checkpoints

# ignore student entered scripts
**/my_scripts

# ignore all LaTeX aux files
**/*.log
**/*.aux
**/*.out
**/*.synctex.gz

# ignore python cache files
*.pyc
# ignore png files
*.png
*.PNG
# ignore log files
*.log
*.LOG
# ignore PyCharm files
./.idea
measurement_files/Waterfall.log
measurement_files/Waterfall.log
.gitignore
src/__pycache__/master.cpython-38.pyc
.gitignore
src/__pycache__/waterfall.cpython-38.pyc
measurement_files/Waterfall.log
measurement_files/Waterfall.log
src/__pycache__/master.cpython-38.pyc
src/__pycache__/robot.cpython-38.pyc
src/__pycache__/routing.cpython-38.pyc
src/__pycache__/usafalog.cpython-38.pyc
src/__pycache__/waterfall.cpython-38.pyc
